# Pandas and Numpy

In [1]:
import pandas as pd
import numpy as np

# Numpy Arrays and Panda DataFrames

In [2]:
dates = pd.date_range('20210101', periods=6, freq='D')
dates

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06'],
              dtype='datetime64[ns]', freq='D')

In [4]:
numbers = np.random.randn(6,4)
numbers

array([[-0.20457548, -0.58553738,  1.41712079,  2.86310533],
       [ 2.0088355 ,  0.15710245, -1.06365458, -0.01044881],
       [-0.12654281,  0.10873242,  0.25963846,  1.50325665],
       [-0.03905402, -0.00695232, -1.02539716,  0.84672993],
       [-0.62080723, -1.54047727,  0.6949911 , -0.2101431 ],
       [-0.11500128,  1.10108233,  1.182184  , -0.33026232]])

In [85]:
df = pd.DataFrame(numbers, index=dates, columns=['m1', 'm2', 'm3', 'm4'])
df

                  m1        m2        m3        m4
2021-01-01 -0.204575 -0.585537  1.417121  2.863105
2021-01-02  2.008836  0.157102 -1.063655 -0.010449
2021-01-03 -0.126543  0.108732  0.259638  1.503257
2021-01-04 -0.039054 -0.006952 -1.025397  0.846730
2021-01-05 -0.620807 -1.540477  0.694991 -0.210143
2021-01-06 -0.115001  1.101082  1.182184 -0.330262

In [9]:
# get info

df.info()
print(len(df))
print(len(df.columns))

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2021-01-01 to 2021-01-06
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   m1      6 non-null      float64
 1   m2      6 non-null      float64
 2   m3      6 non-null      float64
 3   m4      6 non-null      float64
dtypes: float64(4)
memory usage: 240.0 bytes
6
4

# Subsetting Data Frames

In [10]:
# 2 top rows, you can also try tail
df.head(2)

                  m1        m2        m3        m4
2021-01-01 -0.204575 -0.585537  1.417121  2.863105
2021-01-02  2.008836  0.157102 -1.063655 -0.010449

In [16]:
# Note : prints rows with index 3 and 4 only
df[3:5]

                  m1        m2        m3        m4
2021-01-04 -0.039054 -0.006952 -1.025397  0.846730
2021-01-05 -0.620807 -1.540477  0.694991 -0.210143

In [12]:
# extract columns
df.m3

2021-01-01    1.417121
2021-01-02   -1.063655
2021-01-03    0.259638
2021-01-04   -1.025397
2021-01-05    0.694991
2021-01-06    1.182184
Freq: D, Name: m3, dtype: float64

In [15]:
# column type is Series, not dataframe
print(type(df))
print(type(df.m3))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [17]:
df[['m1','m2']][3:5]

                  m1        m2
2021-01-04 -0.039054 -0.006952
2021-01-05 -0.620807 -1.540477

In [18]:
# order of slicing doesn't matter
df[3:5][['m1','m2']]

                  m1        m2
2021-01-04 -0.039054 -0.006952
2021-01-05 -0.620807 -1.540477

In [21]:
# slicing - integer location based selection by position

print(df.iloc[2:4,1:3])
print(df.iloc[[2,3],[1,2,3]])
print(df.iloc[:,[1,2,3]])

                  m2        m3
2021-01-03  0.108732  0.259638
2021-01-04 -0.006952 -1.025397
                  m2        m3        m4
2021-01-03  0.108732  0.259638  1.503257
2021-01-04 -0.006952 -1.025397  0.846730
                  m2        m3        m4
2021-01-01 -0.585537  1.417121  2.863105
2021-01-02  0.157102 -1.063655 -0.010449
2021-01-03  0.108732  0.259638  1.503257
2021-01-04 -0.006952 -1.025397  0.846730
2021-01-05 -1.540477  0.694991 -0.210143
2021-01-06  1.101082  1.182184 -0.330262

In [34]:
# slicing - label or boolean location selection
# note - missing labels give errors
print(df.loc[[pd.Timestamp('2021-01-01'), pd.Timestamp('2021-01-03')],['m1','m2']])

                  m1        m2
2021-01-01 -0.204575 -0.585537
2021-01-03 -0.126543  0.108732

In [32]:
# If one row is selected, we get a series
df.loc['2021-01-02' , ['m2', 'm4'] ]

m2    0.157102
m4   -0.010449
Name: 2021-01-02 00:00:00, dtype: float64

In [46]:
# Iterate a pandas dataframe. Type with index=False, and True
for row in df.itertuples(index=True):
    print(type(row))
    print(row)     # print entire row tuple
    print(row[0])  # print value from column with index 0
    print(row.m2)  # print value from column with name m2
    print('----------')

<class 'pandas.core.frame.Pandas'>
Pandas(Index=Timestamp('2021-01-01 00:00:00', freq='D'), m1=-0.2045754825951432, m2=-0.585537383640488, m3=1.4171207874405807, m4=2.8631053274843423)
2021-01-01 00:00:00
-0.585537383640488
----------
<class 'pandas.core.frame.Pandas'>
Pandas(Index=Timestamp('2021-01-02 00:00:00', freq='D'), m1=2.0088355041831965, m2=0.1571024480353518, m3=-1.063654575404825, m4=-0.010448811174960446)
2021-01-02 00:00:00
0.1571024480353518
----------
<class 'pandas.core.frame.Pandas'>
Pandas(Index=Timestamp('2021-01-03 00:00:00', freq='D'), m1=-0.12654281491554603, m2=0.10873241990235902, m3=0.2596384620583242, m4=1.5032566542740755)
2021-01-03 00:00:00
0.10873241990235902
----------
<class 'pandas.core.frame.Pandas'>
Pandas(Index=Timestamp('2021-01-04 00:00:00', freq='D'), m1=-0.039054023801359514, m2=-0.0069523203687770225, m3=-1.0253971643827653, m4=0.8467299342544358)
2021-01-04 00:00:00
-0.0069523203687770225
----------
<class 'pandas.core.frame.Pandas'>
Pandas(Index=Timestamp('2021-01-05 00:00:00', freq='D'), m1=-0.6208072267621688, m2=-1.5404772662085682, m3=0.6949910986727564, m4=-0.2101431006610598)
2021-01-05 00:00:00
-1.5404772662085682
----------
<class 'pandas.core.frame.Pandas'>
Pandas(Index=Timestamp('2021-01-06 00:00:00', freq='D'), m1=-0.11500127954868651, m2=1.1010823287666465, m3=1.1821840044293337, m4=-0.33026231826450125)
2021-01-06 00:00:00
1.1010823287666465
----------

# Copying, Updating Data Frames

In [40]:
# you can create a copy of a dataframe
dfCopy = df.copy()
print(dfCopy)

                  m1        m2        m3        m4
2021-01-01 -0.204575 -0.585537  1.417121  2.863105
2021-01-02  2.008836  0.157102 -1.063655 -0.010449
2021-01-03 -0.126543  0.108732  0.259638  1.503257
2021-01-04 -0.039054 -0.006952 -1.025397  0.846730
2021-01-05 -0.620807 -1.540477  0.694991 -0.210143
2021-01-06 -0.115001  1.101082  1.182184 -0.330262

In [42]:
# You can set values for a selection
# note that iloc, loc etc do not create new copy of the data, but are views on the original dataframe, dfCopy

dfCopy.iloc[2:4,1:3] = 0
print(dfCopy)

                  m1        m2        m3        m4
2021-01-01 -0.204575 -0.585537  1.417121  2.863105
2021-01-02  2.008836  0.157102 -1.063655 -0.010449
2021-01-03 -0.126543  0.000000  0.000000  1.503257
2021-01-04 -0.039054  0.000000  0.000000  0.846730
2021-01-05 -0.620807 -1.540477  0.694991 -0.210143
2021-01-06 -0.115001  1.101082  1.182184 -0.330262

In [50]:
# sorted copy
# use inplace=True for changing original dataset
dfSorted = df.sort_values(by='m2', ascending=False)
dfSorted

                  m1        m2        m3        m4
2021-01-06 -0.115001  1.101082  1.182184 -0.330262
2021-01-02  2.008836  0.157102 -1.063655 -0.010449
2021-01-03 -0.126543  0.108732  0.259638  1.503257
2021-01-04 -0.039054 -0.006952 -1.025397  0.846730
2021-01-01 -0.204575 -0.585537  1.417121  2.863105
2021-01-05 -0.620807 -1.540477  0.694991 -0.210143

In [86]:
# adding columns
m5values = [0.432523, -0.123223, -0.231232, 0.001231, -0.23698, -0.41231]
dfCopy = df.copy()
dfCopy['m5'] = m5values
dfCopy

                  m1        m2        m3        m4        m5
2021-01-01 -0.204575 -0.585537  1.417121  2.863105  0.432523
2021-01-02  2.008836  0.157102 -1.063655 -0.010449 -0.123223
2021-01-03 -0.126543  0.108732  0.259638  1.503257 -0.231232
2021-01-04 -0.039054 -0.006952 -1.025397  0.846730  0.001231
2021-01-05 -0.620807 -1.540477  0.694991 -0.210143 -0.236980
2021-01-06 -0.115001  1.101082  1.182184 -0.330262 -0.412310

In [87]:
# add rows
for i in range(7,10):
    dfCopy.loc[ pd.Timestamp('2021-02-0'+str(i)),:] = [ np.random.rand() for j in range(5) ]
dfCopy

                  m1        m2        m3        m4        m5
2021-01-01 -0.204575 -0.585537  1.417121  2.863105  0.432523
2021-01-02  2.008836  0.157102 -1.063655 -0.010449 -0.123223
2021-01-03 -0.126543  0.108732  0.259638  1.503257 -0.231232
2021-01-04 -0.039054 -0.006952 -1.025397  0.846730  0.001231
2021-01-05 -0.620807 -1.540477  0.694991 -0.210143 -0.236980
2021-01-06 -0.115001  1.101082  1.182184 -0.330262 -0.412310
2021-02-07  0.260651  0.099972  0.961207  0.859050  0.683756
2021-02-08  0.103412  0.288607  0.501539  0.078259  0.052238
2021-02-09  0.902411  0.469965  0.511603  0.479744  0.177155

In [88]:
# remove rows, creating a new dataframe
# use inplace=True to change existing dataframe
dfDropped = dfCopy.drop(index=pd.date_range('2021-02-07','2021-02-09'),columns='m5')
dfDropped

                  m1        m2        m3        m4
2021-01-01 -0.204575 -0.585537  1.417121  2.863105
2021-01-02  2.008836  0.157102 -1.063655 -0.010449
2021-01-03 -0.126543  0.108732  0.259638  1.503257
2021-01-04 -0.039054 -0.006952 -1.025397  0.846730
2021-01-05 -0.620807 -1.540477  0.694991 -0.210143
2021-01-06 -0.115001  1.101082  1.182184 -0.330262

In [92]:
# joining 2 data frames
df1 = pd.DataFrame( {'state': ['Washington', 'Oregon'], 'capital': ['Olympia', 'Salem']} )
df2 = pd.DataFrame( {'name': ['Washington', 'Oregon'], 'population':[7288000, 4093000]} )
merged = pd.merge(df1, df2, left_on='state', right_on='name')
merged.drop(columns='name', inplace=True)
merged

        state  capital  population
0  Washington  Olympia     7288000
1      Oregon    Salem     4093000

# Dataframes - Filtering via Boolean Indexing

In [104]:
m5values = [0.432523, -0.123223, -0.231232, 0.001231, -0.23698, -0.41231]
dfj = df.copy()
dfj['m5'] = m5values

In [105]:
dfj > 0

               m1     m2     m3     m4     m5
2021-01-01  False  False   True   True   True
2021-01-02   True   True  False  False  False
2021-01-03  False   True   True   True  False
2021-01-04  False  False  False   True   True
2021-01-05  False  False   True  False  False
2021-01-06  False   True   True  False  False

In [106]:
dfj.m1 * 2 < 2

2021-01-01     True
2021-01-02    False
2021-01-03     True
2021-01-04     True
2021-01-05     True
2021-01-06     True
Freq: D, Name: m1, dtype: bool

In [107]:
(dfj.m1 * 2 < 0.2).value_counts()

True     5
False    1
Name: m1, dtype: int64

In [108]:
v1 = dfj.m1 * 2 < 0.2
print(v1)
v2 = dfj.m2 > 0
print(v2)
print(~v1)
print(v1 & v2)
print(v1 | v2)

2021-01-01     True
2021-01-02    False
2021-01-03     True
2021-01-04     True
2021-01-05     True
2021-01-06     True
Freq: D, Name: m1, dtype: bool
2021-01-01    False
2021-01-02     True
2021-01-03     True
2021-01-04    False
2021-01-05    False
2021-01-06     True
Freq: D, Name: m2, dtype: bool
2021-01-01    False
2021-01-02     True
2021-01-03    False
2021-01-04    False
2021-01-05    False
2021-01-06    False
Freq: D, Name: m1, dtype: bool
2021-01-01    False
2021-01-02    False
2021-01-03     True
2021-01-04    False
2021-01-05    False
2021-01-06     True
Freq: D, dtype: bool
2021-01-01    True
2021-01-02    True
2021-01-03    True
2021-01-04    True
2021-01-05    True
2021-01-06    True
Freq: D, dtype: bool